---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header/>
	<main>
		<section>
			<div>
				<h1>Ihsan6133</h1>
				<p>Welcome to my website!</p>
			</div>
		</section>

	</main>
</Layout>

<style>

	main {
		margin: auto;
		font-size: 20px;
		line-height: 1.6;
		color: white;
	}
	
	section {
		padding: 1rem;
		padding-top: 3rem;
		background: linear-gradient(to bottom, rgb(var(--accent-dark)), rgba(var(--accent-dark), 0.7	));
	}
	section div {
		margin: auto;
		max-width: 1140px;
			
	}

	h1 {
		margin: 0;
	}
	p {
		margin: 0;
	}

</style>
