---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Ihsan6133">
	<main>
		<Banner/>
	</main>
</Layout>

<style>

	main {
		margin: auto;
		font-size: 20px;
		line-height: 1.6;
		color: white;
	}
	

</style>
