---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Banner from '../components/Banner.astro';
import About from '../components/About.astro';
import Technologies from '../components/Technologies.astro';
import Footer from '../components/Footer.astro';
import Projects from '../components/Projects.astro';
import References from '../components/References.astro';


---

<Layout title="Ihsan">
	<main>
		<Banner/>
		<About/>
		<Technologies/>
		<Projects/>
		<References/>
	</main>
	<Footer/>
</Layout>

<style>

	main {
		margin: auto;
		font-size: 20px;
		line-height: 1.6;
	}
	

</style>
