---

---

<section>
    <div>
        <h2>About</h2>

        <div class="text">
            <p>
                Hello! I'm Ihsan, a 15-year-old who is passionate about computer science and programming.
                I love learning and exploring new things, especially in the fields of science and technology.
            </p>
            
            <p>
                I love computers, and I've always been fascinated by them. I was always curious about how they work,
                and I wanted to learn more about them. I read a couple of books about their inner workings, and got
                hooked.
            </p>
    
            <p>  
                I enjoy creating interesting and fun projects, and I'm always looking for new ideas to work on.
                I like to work with Rust, NodeJS, and TypeScript, with frameworks like Svelte and Express. I like to
                experiment with new technologies and tools, and I'm always looking to learn new things.
            </p>
        
            <p>
                Outside of programming, I like listening to music and podcasts, play games and watch movies.
            </p>
            
        </div>
        

         
    </div>
</section>


<style>
    section {
        padding: 1rem;
    }

    section > div {
        max-width: 1140px;
        margin: 0 auto;
    }
    p {
        font-size: 1rem;
        line-height: 1.8;
    }


</style>