---

---

<header>
    <div>
        <p>Ihsan6133</p>
        <a href="">Accounts</a>
    </div>
</header>


<style>
	header {
        background-color: rgb(var(--accent-dark));
		color: white;
		padding: 1rem;
	}
	
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: auto;
    }
    
    p {
		font-size: 1.25rem;
		font-weight: 700;
		margin: 0;
	}

	a {
		color: white;
		text-decoration: none;
	}
</style>