---
import { Image } from "astro:assets";
import pfp from "../assets/pfp.jpg";
---

<header>
    <nav class="flex">
        <a href="/" class="url-container">
            <Image src={pfp} alt="Profile Picture" width="50" height="50" />
            <p>Ihsan6133</p>
        </a>
        <ul class="right">
            <li><a href="">Accounts</a></li>
        </ul>
    </nav>
</header>


<style>
	header {
		color: white;
		padding: 1rem;
	}
	
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: auto;
    }
    .url-container {
        display: flex;
        gap: 15px;
    }
    .url-container img {
        border-radius: 10%;
        width: 2rem;
        height: 2rem;
    }

    p {
		font-size: 1.25rem;
		font-weight: 700;
		margin: 0;
	}

	a {
		color: white;
		text-decoration: none;
	}

    .right {
        margin: 0;
        display: flex;
        align-items: center;
        list-style: none;
        gap: 15px;   
    }

    .right svg {
        height: 2rem;
        width: 2rem;
    }
</style>