---

---

<section>
    <div class="container">
        <h2>References</h2>
        <ul>
            <li id="ref-podcasts">Podcasts: I like a lot of Joe Rogan and Lex Fridman</li>
            <li id="ref-games">Games: I like Factorio, Minecraft, Portal 1 & 2, City Skylines, Terraria and a LOT more.</li>
        </ul>
    </div>
</section>


<style>
    section {
        padding: 1rem;
    }

    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    ul {
        font-size: 1rem;
        list-style: none;
    }

    li:target {
        background-color: rgb(232, 244, 255);
    }


</style>